/*@import "~bulma/css/bulma.min.css";*/
$badge-height: 16px;
$badge-font-size: 1rem;
@import "~bulma-pro/css/bulma.css";
@import "~@creativebulma/bulma-badge/src/docs/static/css/bulma-badge.css";
@import "../node_modules/flag-icon-css/css/flag-icon.css";
@import '../node_modules/react-circular-progressbar/dist/styles.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span.badge{
    font-size: 1rem;
    height: 20px;
    line-height: 11px;
    padding: 0.1rem 0.25rem;
}