.container {
    max-width: 80%;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    white-space: pre-wrap;
}

.fullwidth{
    width: 100%;
}

.mlAuto {
  margin-left: auto;
  justify-content: right;
  flex: 1;
}

.mrAuto {
  margin-right: auto;
  justify-content: left;
  flex: 1;
}

.flexOne {
  flex: 1;
}

.justifyCenter {
  justify-content: center;
}